build

CMakeFiles/
Makefile
CMakeCache.txt

*.db
*.pdb
*.opendb
*.lib
*.dll
*.obj
*.aps
*.user
*.sdf
*.cmake
*.a

vs/.vs/*
vs/driver32/.vs/*
vs/driver32/Debug/*
vs/driver32/Release/*
vs/driver32w/.vs/*
vs/driver32w/Debug/*
vs/driver32w/Release/*
vs/driver64/.vs/*
vs/driver64/x64/Debug/*
vs/driver64/x64/Release/*
vs/driver64w/.vs/*
vs/driver64w/x64/Debug/*
vs/driver64w/x64/Release/*
vs/x64/Debug/*
vs/x64/Release/*
vs/Debug/*
vs/Release/*
vs/installer32/obj/*
vs/installer32/bin/*
vs/installer64/obj/*
vs/installer64/bin/*
lib/*
