[submodule "contrib/poco"]
    path = contrib/poco
    url = https://github.com/ClickHouse-Extras/poco.git
    branch = clickhouse-odbc
[submodule "contrib/ssl"]
    path = contrib/ssl
    url = https://github.com/ClickHouse-Extras/ssl.git
    branch = master
[submodule "contrib/nanodbc"]
    path = contrib/nanodbc
    url = https://github.com/nanodbc/nanodbc.git
    branch = master
[submodule "contrib/googletest"]
    path = contrib/googletest
    url = https://github.com/google/googletest.git
    branch = master
[submodule "contrib/folly"]
    path = contrib/folly
    url = https://github.com/facebook/folly.git
    branch = master
[submodule "cmake/conan"]
	path = cmake/conan
	url = https://github.com/conan-io/cmake-conan.git
	branch = master
