build

*.db
*.pdb
*.opendb
*.lib
*.dll
*.obj
*.aps

vs/.vs/*
vs/driver32w/.vs/*
vs/driver32w/Debug/*
vs/driver32w/Release/*
vs/driver64/.vs/*
vs/driver64/x64/Debug/*
vs/driver64/x64/Release/*
vs/odbc64w/.vs/*
vs/odbc64w/x64/Debug/*
vs/odbc64w/x64/Release/*
vs/driver/x64/Debug/*
vs/driver/x64/Release/*
vs/driver/Debug/*
vs/driver/Release/*
vs/x64/Debug/*
vs/x64/Release/*
vs/Debug/*
vs/Release/*
vs/installer/obj/*
vs/installer/bin/*
*.user
