language: cpp

sudo: required
dist: trusty

os:
  - linux
  - osx

compiler:
  - gcc

cache:
  ccache: true

addons:
  apt:
     sources: [ ubuntu-toolchain-r-test ]
     packages: [ ninja-build, libstdc++-8-dev ]

matrix:
    include:
        - os: linux
          env: MATRIX_EVAL="export CC=clang CXX=clang++"
          addons:
            apt:
              sources: [ ubuntu-toolchain-r-test ]
              packages: [ ninja-build, libstdc++-8-dev, libiodbc2-dev, libiodbc2 ]

        - os: linux
          env: MATRIX_EVAL="export CC=gcc-8 CXX=g++-8"
          addons:
            apt:
              sources: [ ubuntu-toolchain-r-test ]
              packages: [ ninja-build, gcc-8, g++-8, libiodbc2-dev, libiodbc2 ]

        - os: linux
          env: MATRIX_EVAL="export CC=clang CXX=clang++ ODBC_LIB=unixodbc-dev"

        - os: linux
          env: MATRIX_EVAL="export CC=gcc-7 CXX=g++-7 ODBC_LIB=unixodbc-dev"
          addons:
            apt:
              sources: [ ubuntu-toolchain-r-test ]
              packages: [ ninja-build, gcc-7, g++-7 ]

# TODO test unbunled:
#        - os: linux
#          env: MATRIX_EVAL="export CC=clang CXX=clang++ ODBC_LIB=libiodbc2-dev CMAKE_FLAGS=-DUNBUNDLED=1"
#          addons:
#            apt:
#              packages: [ ninja-build, libiodbc2-dev, libiodbc2, libssl-dev, libpoco-dev ]
#          git:
#            submodules: false

        - os: osx
          addons:
            homebrew:
              packages: [ ninja, libiodbc ]

        - os: osx
          addons:
            homebrew:
              packages: [ ninja, unixodbc ]

# TODO test unbunled:
#        - os: osx
#          env: MATRIX_EVAL="export CMAKE_FLAGS=-DUNBUNDLED=1"
#          git:
#            submodules: false
#          addons:
#            homebrew:
#              packages: [ ninja, libiodbc, poco ]

    exclude:
        - os: linux
          compiler: gcc
        - os: osx
          compiler: gcc


install:
  - eval "${MATRIX_EVAL}"
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ -n "$ODBC_LIB" ]; then sudo apt-add-repository "deb http://archive.ubuntu.com/ubuntu artful main universe"; fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ -n "$ODBC_LIB" ]; then sudo apt-get update -q > build.log 2>&1 || (cat build.log && exit 1); fi
  - if [ "$TRAVIS_OS_NAME" == "linux" ] && [ -n "$ODBC_LIB" ]; then sudo apt-get install -y $ODBC_LIB | tee build.log 2>&1 || (cat build.log && exit 1); fi

script:
  - mkdir -p build
  - cd build
  - cmake .. -G Ninja -DCMAKE_CXX_COMPILER=`which $CXX` -DCMAKE_C_COMPILER=`which $CC` $CMAKE_FLAGS && ninja all && ninja test
