<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Define variables -->
  <?if $(var.Platform) != x64 ?>
    <?error Invalid Platform variable ?>
  <?endif?>

  <?define BIT64 = "yes" ?>
  <?define PKGNAME = "ClickHouse ODBC x64" ?>
  <?define PGFOLDER = "ProgramFiles64Folder" ?>
  <?define DLL_PATH = "../x64/$(var.Configuration)" ?>

  <?if $(var.Configuration) = Debug ?>
    <?define POCO_FOUNDATION = "PocoFoundation64d.dll" ?>
    <?define POCO_NET = "PocoNet64d.dll" ?>
	<?define POCO_FOUNDATION_PDB = "PocoFoundation64d.pdb" ?>
    <?define POCO_NET_PDB = "PocoNet64d.pdb" ?>
  <?else?>
    <?define POCO_FOUNDATION = "PocoFoundation64.dll" ?>
    <?define POCO_NET = "PocoNet64.dll" ?>
  <?endif ?>

  <?define CrtMergeModule = "$(env.ProgramFiles)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.21.27702\MergeModules\Microsoft_VC142_CRT_x64.msm" ?>
  <?define ANSI_ID = "568F7B5A-6943-4B87-AB67-51E52B91607F" ?>
  <?define POCOLIB_ID = "D771CE33-985F-4C0B-ADE1-629115BEA253" ?>
  <?define PRODUCT_ID= "D77FCBEA-C3A9-442C-8055-83CBDB57009B" ?>
  <?define UNICODE_ID = "241F5D8F-BC09-47EC-808B-2B344CBCC131" ?>
  <?define UPGRADE_ID = "B63A7326-E080-49E3-A963-8F5EFC2DDD65" ?>

  <!-- Product details -->
  <Product Id="$(var.PRODUCT_ID)"
           Name="$(var.PKGNAME)"
           Language="1033"
           Version="1.0.0.20190611"
           Manufacturer="Yandex LLC"
           UpgradeCode="$(var.UPGRADE_ID)">

    <!-- Package details -->
    <Package 
      Id='*'
      Keywords="ClickHouse, ODBC"
      Comments="ClickHouse ODBC driver"
      Manufacturer="Yandex LLC"
      InstallerVersion="301" 
      Platform="$(var.Platform)"
      Compressed="yes" 
      InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of ClickHouse ODBC drivers is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Merge Id="CRT" SourceFile="$(var.CrtMergeModule)" Language="0" DiskId="1" />
      
      <Directory Id="$(var.PGFOLDER)">
        <Directory Id="INSTALLFOLDER" Name="ClickHouse ODBC">
          <!--Component Id ="PocoLibs" Guid="$(var.POCOLIB_ID)" Win64='$(var.BIT64)'>
            <!- -File Id='PocoFoundationDll'
                  Name='$(var.POCO_FOUNDATION)'
                  DiskId='1'
                  Source='..\..\contrib\poco\bin64\$(var.POCO_FOUNDATION)' />
            <File Id='PocoNetdll'
                  Name='$(var.POCO_NET)'
                  DiskId='1'
                  Source='..\..\contrib\poco\bin64\$(var.POCO_NET)' /- ->   
			<?if $(var.Configuration) = Debug ?>
            <!- -File Id='PocoFoundationPdb'
					Name='$(var.POCO_FOUNDATION_PDB)'
					DiskId='1'
					Source='..\..\contrib\poco\bin64\$(var.POCO_FOUNDATION_PDB)' />
				<File Id='PocoNetPdb'
					Name='$(var.POCO_NET_PDB)'
					DiskId='1'
					Source='..\..\contrib\poco\bin64\$(var.POCO_NET_PDB)' /- ->   
			<?endif ?>					  
          </Component-->
          
          <Component Id="AnsiDriver" Guid="$(var.ANSI_ID)" Win64='$(var.BIT64)'>
            <File Id='AnsiDriverDll'
                  Name='clickhouseodbc.dll'
                  DiskId='1'
                  Source='$(var.DLL_PATH)\clickhouseodbc.dll'
                  KeyPath='yes' />
			<?if $(var.Configuration) = Debug ?>
				<File Id='AnsiDriverPdb'
					Name='clickhouseodbc.pdb'
					DiskId='1'
					Source='$(var.DLL_PATH)\clickhouseodbc.pdb'	/>
			<?endif ?>			  
				  
            <RegistryKey Id='AnsiOdbcRegInfo' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse ANSI'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC ANSI'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='AnsiOdbcRegInstalled' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse ANSI' Value='Installed' />
            </RegistryKey>
          </Component>
          <Component Id="UnicodeDriver" Guid="$(var.UNICODE_ID)" Win64='$(var.BIT64)'>
            <File Id='UnicodeDriverDll'
                  Name='clickhouseodbcw.dll'
                  DiskId='1'
                  Source='$(var.DLL_PATH)\clickhouseodbcw.dll'
                  KeyPath='yes' />
			<?if $(var.Configuration) = Debug ?>
				<File Id='UnicodeDriverPdb'
					Name='clickhouseodbcw.pdb'
					DiskId='1'
					Source='$(var.DLL_PATH)\clickhouseodbcw.pdb' />
			<?endif ?>
			
            <RegistryKey Id='UnicodeOdbcRegInfo'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse Unicode'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC Unicode'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='UnicodeOdbcRegInstalled'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse Unicode' Value='Installed' />
            </RegistryKey>
          </Component>
          </Directory>
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id='Complete' Title='ClickHouse ODBC' Description='The complete package.'
    Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER'>
      <Feature Id="AnsiDrivers"
               Title="ANSI drivers"
               Level="1" >
        <ComponentRef Id="AnsiDriver" />
        <!--ComponentRef Id="PocoLibs" /-->
      </Feature>
      <Feature Id="UnicodeDrivers"
               Title="Unicode drivers"
               Level="1" >
        <ComponentRef Id="UnicodeDriver" />
        <!--ComponentRef Id="PocoLibs" /-->
      </Feature>
      <Feature Id="CRT" AllowAdvertise="no" Display="hidden" Level="1" Title="Microsoft Visual C++ 2015 Runtime Components">
        <MergeRef Id="CRT"/>
      </Feature>
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
  </Product>
</Wix>
