<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <!-- Product details -->
  <Product Id="D77FCBEA-C3A9-442C-8055-83CBDB57009B"
           Name="ClickHouse ODBC drivers"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Yandex LLC"
           UpgradeCode="537be4f3-8a10-431d-bb2b-7a743f82586c">

    <!-- Package details -->
    <Package 
      Id='*'
      Keywords="ClickHouse, ODBC"
      Comments="ClickHouse ODBC driver"
      Manufacturer="Yandex LLC"
      InstallerVersion="200" 
      Platform="x64"
      Compressed="yes" 
      InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of ClickHouse ODBC drivers is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLFOLDER" Name="ClickHouse ODBC">
          <Component Id ="PocoLibs" Guid="D348D93A-E952-4248-99A7-BD280965FFDB" Win64='yes'>
            <File Id='PocoFoundationDll'
                  Name='PocoFoundation64.dll'
                  DiskId='1'
                  Source='..\x64\Release\PocoFoundation64.dll' />
            <File Id='PocoNetdll'
                  Name='PocoNet64.dll'
                  DiskId='1'
                  Source='..\x64\Release\PocoFoundation64.dll' />            
          </Component>
          
          <Component Id="AnsiDriver" Guid="01A07B41-83A6-4119-ABA6-11FAC66D23FE" Win64='yes'>
            <File Id='AnsiDriverDll'
                  Name='clickhouseodbc.dll'
                  DiskId='1'
                  Source='..\x64\Release\clickhouseodbc.dll'
                  KeyPath='yes' />

            <RegistryKey Id='AnsiOdbcRegInfo' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse ANSI'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC ANSI'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='AnsiOdbcRegInstalled' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse ANSI' Value='Installed' />
            </RegistryKey>
          </Component>
          <Component Id="UnicodeDriver" Guid="1908EA6A-9455-49C9-B69E-FF3C3469A88D" Win64='yes'>
            <File Id='UnicodeDriverDll'
                  Name='clickhouseodbcw.dll'
                  DiskId='1'
                  Source='..\x64\Release\clickhouseodbcw.dll'
                  KeyPath='yes' />

            <RegistryKey Id='UnicodeOdbcRegInfo'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse Unicode'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC Unicode'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='UnicodeOdbcRegInstalled'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse Unicode' Value='Installed' />
            </RegistryKey>
          </Component>
          </Directory>
      </Directory>
    </Directory>

    <!-- Features -->
    <Feature Id='Complete' Title='ClickHouse ODBC' Description='The complete package.'
    Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER'>
      <Feature Id="AnsiDrivers"
               Title="ANSI drivers"
               Level="1" >
        <ComponentRef Id="AnsiDriver" />
        <ComponentRef Id="PocoLibs" />
      </Feature>
      <Feature Id="UnicodeDrivers"
               Title="Unicode drivers"
               Level="1" >
        <ComponentRef Id="UnicodeDriver" />
        <ComponentRef Id="PocoLibs" />
      </Feature>
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
  </Product>
</Wix>
