<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

  <!-- Define variables -->
  <?if $(var.Platform) != x86 ?>
    <?error Invalid Platform variable ?>
  <?endif?>

  <?define BIT64 = "no" ?>
  <?define PKGNAME = "ClickHouse ODBC x32" ?>
  <?define PGFOLDER = "ProgramFilesFolder" ?>
  <?define DLL_PATH = "../$(var.Configuration)" ?>

  <?if $(var.Configuration) = Debug ?>
    <?define POCO_FOUNDATION = "PocoFoundationd.dll" ?>
    <?define POCO_NET = "PocoNetd.dll" ?>
	<?define POCO_FOUNDATION_PDB = "PocoFoundationd.pdb" ?>
    <?define POCO_NET_PDB = "PocoNetd.pdb" ?>
  <?else?>
    <?define POCO_FOUNDATION = "PocoFoundation.dll" ?>
    <?define POCO_NET = "PocoNet.dll" ?>
  <?endif ?>

  <?define CrtMergeModule = "$(env.ProgramFiles)\Microsoft Visual Studio\2019\Community\VC\Redist\MSVC\14.21.27702\MergeModules\Microsoft_VC142_CRT_x86.msm" ?>
  <?define ANSI_ID = "5DFFB4E6-D747-4080-B733-69763772485C" ?>
  <?define POCOLIB_ID = "611EDC2C-2617-485E-81BE-2A9B4664E7BC" ?>
  <?define PRODUCT_ID= "9FCA44DB-6963-4EBF-87A6-279331C139EB" ?>
  <?define UNICODE_ID = "76D81B68-57A7-4195-B2D1-26A9B968FA51" ?>
  <?define UPGRADE_ID = "3C19591C-7FFC-461A-8828-611EDFBE0619" ?>

  <!-- Product details -->
  <Product Id="$(var.PRODUCT_ID)"
           Name="$(var.PKGNAME)"
           Language="1033"
           Version="1.0.0.20190611"
           Manufacturer="Yandex LLC"
           UpgradeCode="$(var.UPGRADE_ID)">

    <!-- Package details -->
    <Package 
      Id='*'
      Keywords="ClickHouse, ODBC"
      Comments="ClickHouse ODBC driver"
      Manufacturer="Yandex LLC"
      InstallerVersion="301" 
      Platform="$(var.Platform)"
      Compressed="yes" 
      InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of ClickHouse ODBC drivers is already installed." />
    <MediaTemplate EmbedCab="yes" />
    
    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.PGFOLDER)">
        <Directory Id="INSTALLFOLDER" Name="ClickHouse ODBC">
          <!--Component Id ="PocoLibs" Guid="$(var.POCOLIB_ID)" Win64='$(var.BIT64)'>
            <File Id='PocoFoundationDll'
                  Name='$(var.POCO_FOUNDATION)'
                  DiskId='1'
                  Source='..\..\contrib\poco\bin\$(var.POCO_FOUNDATION)' />
            <File Id='PocoNetdll'
                  Name='$(var.POCO_NET)'
                  DiskId='1'
                  Source='..\..\contrib\poco\bin\$(var.POCO_NET)' />   
			<?if $(var.Configuration) = Debug ?>
				<File Id='PocoFoundationPdb'
					Name='$(var.POCO_FOUNDATION_PDB)'
					DiskId='1'
					Source='..\..\contrib\poco\bin\$(var.POCO_FOUNDATION_PDB)' />
				<File Id='PocoNetPdb'
					Name='$(var.POCO_NET_PDB)'
					DiskId='1'
					Source='..\..\contrib\poco\bin\$(var.POCO_NET_PDB)' />  
			<?endif ?>	

				  
          </Component-->
          
          <Component Id="AnsiDriver" Guid="$(var.ANSI_ID)" Win64='$(var.BIT64)'>
            <File Id='AnsiDriverDll'
                  Name='clickhouseodbc.dll'
                  DiskId='1'
                  Source='$(var.DLL_PATH)\clickhouseodbc.dll'
                  KeyPath='yes' />
			<?if $(var.Configuration) = Debug ?>
				<File Id='AnsiDriverPdb'
					Name='clickhouseodbc.pdb'
					DiskId='1'
					Source='$(var.DLL_PATH)\clickhouseodbc.pdb' />
			<?endif ?>
				  
            <RegistryKey Id='AnsiOdbcRegInfo' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse ANSI'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbc.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC ANSI'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='AnsiOdbcRegInstalled' 
                         Root='HKLM' 
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse ANSI' Value='Installed' />
            </RegistryKey>
          </Component>
          <Component Id="UnicodeDriver" Guid="$(var.UNICODE_ID)" Win64='$(var.BIT64)'>
            <File Id='UnicodeDriverDll'
                  Name='clickhouseodbcw.dll'
                  DiskId='1'
                  Source='$(var.DLL_PATH)\clickhouseodbcw.dll'
                  KeyPath='yes' />
			<?if $(var.Configuration) = Debug ?>
				<File Id='UnicodeDriverPdb'
					Name='clickhouseodbcw.pdb'
					DiskId='1'
					Source='$(var.DLL_PATH)\clickhouseodbcw.pdb' />
			<?endif ?>

            <RegistryKey Id='UnicodeOdbcRegInfo'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ClickHouse Unicode'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='Driver' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Setup' Value='[INSTALLFOLDER]clickhouseodbcw.dll'/>
              <RegistryValue Type='string' Name='Description' Value='ClickHouse ODBC Unicode'/>
              <RegistryValue Type='string' Name='APILevel' Value='1'/>
              <RegistryValue Type='string' Name='DriverODBCVer' Value='03.80'/>
              <RegistryValue Type='string' Name='SQLLevel' Value='1'/>
              <RegistryValue Type='string' Name='ConnectFunctions' Value='YYN'/>
              <RegistryValue Type='string' Name='FileUsage' Value='0'/>
            </RegistryKey>
            <RegistryKey Id='UnicodeOdbcRegInstalled'
                         Root='HKLM'
                         Key='SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers'
                         ForceCreateOnInstall='yes'>
              <RegistryValue Type='string' Name='ClickHouse Unicode' Value='Installed' />
            </RegistryKey>
          </Component>
          </Directory>
      </Directory>
      <Merge Id="CRT" Language="0" SourceFile="$(var.CrtMergeModule)" DiskId="1" />
    </Directory>

    <!-- Features -->
    <Feature Id='Complete' Title='ClickHouse ODBC' Description='The complete package.'
    Display='expand' Level='1' ConfigurableDirectory='INSTALLFOLDER'>
      <Feature Id="AnsiDrivers"
               Title="ANSI drivers"
               Level="1" >
        <ComponentRef Id="AnsiDriver" />
        <!--ComponentRef Id="PocoLibs" /-->
      </Feature>
      <Feature Id="UnicodeDrivers"
               Title="Unicode drivers"
               Level="1" >
        <ComponentRef Id="UnicodeDriver" />
        <!--ComponentRef Id="PocoLibs" /-->
      </Feature>
      <Feature Id="CRT" AllowAdvertise="no" Display="hidden" Level="1" Title="Microsoft Visual C++ 2015 Runtime Components">
        <MergeRef Id="CRT"/>
      </Feature>
    </Feature>

    <!-- UI -->
    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Value="license.rtf" />
    
  </Product>
</Wix>
