<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="D77FCBEA-C3A9-442C-8055-83CBDB57009B"
           Name="ClickHouse ODBC drivers"
           Language="1033"
           Version="1.0.0.0"
           Manufacturer="Yandex LLC"
           UpgradeCode="537be4f3-8a10-431d-bb2b-7a743f82586c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <MediaTemplate />

    <Feature Id="ProductFeature" Title="ClickHouse ODBC" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>


  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
          <Directory Id="INSTALLFOLDER" Name="ClickHouse ODBC" />
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      <Component Id="Driver" Guid="01A07B41-83A6-4119-ABA6-11FAC66D23FE">
        <File Id='DriverDLL'
              Name='clickhouseodbc.dll'
              DiskId='1'
              Source='..\x64\Debug\clickhouseodbc.dll'
              KeyPath='yes'>
        </File>
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>
