<?xml version='1.0' encoding='utf-8' ?>
<connection-customization class='genericodbc' enabled='true' version='8.10'>
    <vendor name='ClickHouse' />
    <driver name='ClickHouse Driver' />
    <customizations>
        <customization name='CAP_CONNECT_STORED_PROCEDURE' value='no' />
        <customization name='CAP_QUERY_GROUP_BY_ALIAS' value='no' />
        <customization name='CAP_QUERY_GROUP_BY_DEGREE' value='no' />
        <customization name='CAP_QUERY_JOIN_PUSH_DOWN_CONDITION_EXPRESSIONS' value='yes' />
        <customization name='CAP_QUERY_JOIN_REQUIRES_SUBQUERY' value='yes' />
        <customization name='CAP_QUERY_SORT_BY_DEGREE' value='no' />
    </customizations>
</connection-customization>
