# Insert the content of this file into ~/.odbc.ini or /etc/odbc.ini files.

[ODBC Data Sources]
ClickHouse DSN (ANSI)    = ClickHouse ODBC Driver (ANSI)
ClickHouse DSN (Unicode) = ClickHouse ODBC Driver (Unicode)

[ClickHouse DSN (ANSI)]
Driver      = ClickHouse ODBC Driver (ANSI)
Description = DSN (localhost) for ClickHouse ODBC Driver (ANSI)

### New all-in one way to specify connection with [optional] settings:
# Url = https://default:password@localhost:8443/query?database=default&max_result_bytes=4000000&buffer_size=3000000

# ...or minimal (will connect to port 8443 if protocol is "https://" or 8123 if it is "http://"):
# Url = https://localhost

### Old way:
# Server = localhost
# Database = default
# UID = default
# PWD = password
# Port = 8123
# Proto = http

# Timeout for http queries to ClickHouse server (default is 30 seconds)
# Timeout=60

# SSLMode:
#   allow   - ignore self-signed and bad certificates
#   require - check certificates (and fail connection if something wrong)
# SSLMode = require
# PrivateKeyFile =
# CertificateFile =
# CALocation =

# DriverLog = yes
# DriverLogFile = /tmp/chlickhouse-odbc-driver.log

# AutoSessionId =  off

[ClickHouse DSN (Unicode)]
Driver      = ClickHouse ODBC Driver (Unicode)
Description = DSN (localhost) for ClickHouse ODBC Driver (Unicode)
# ...
