# Insert the content of this file into ~/.odbcinst.ini or /etc/odbcinst.ini files,
# and append absolute paths to libclickhouseodbc.so and libclickhouseodbcw.so files.

[ODBC Drivers]
ClickHouse ODBC Driver (ANSI)    = Installed
ClickHouse ODBC Driver (Unicode) = Installed

[ClickHouse ODBC Driver (ANSI)]
Description = ODBC Driver (ANSI) for ClickHouse
Driver      = libclickhouseodbc.so
Setup       = libclickhouseodbc.so
UsageCount  = 1

[ClickHouse ODBC Driver (Unicode)]
Description = ODBC Driver (Unicode) for ClickHouse
Driver      = libclickhouseodbcw.so
Setup       = libclickhouseodbcw.so
UsageCount  = 1
