# Insert the content of this file into ~/.odbc.ini or /etc/odbc.ini files.

[ODBC Data Sources]
ClickHouse DSN (ANSI)    = ClickHouse ODBC Driver (ANSI)
ClickHouse DSN (Unicode) = ClickHouse ODBC Driver (Unicode)

[ClickHouse DSN (ANSI)]
Driver      = ClickHouse ODBC Driver (ANSI)
Description = DSN (localhost) for ClickHouse ODBC Driver (ANSI)

### New all-in one way to specify connection with [optional] settings:
#url = https://default:password@localhost:8443/query?database=default&max_result_bytes=4000000&buffer_size=3000000

# ...or minimal (will connect to port 8443 if https:// or 8123 if http:// ):
#url = https://localhost

### Old way:
#server = localhost
#database = default
#uid = default
#pwd = password
#port = 8123
#proto = http

# Timeout for http queries to ClickHouse server (default is 30 seconds)
#timeout=60

# sslmode:
#   allow   - ignore self-signed and bad certificates
#   require - check certificates (and fail connection if something wrong)
#sslmode = require
#privatekeyfile =
#certificatefile =
#calocation =

#DriverLog = yes
#DriverLogFile = /tmp/chlickhouse-odbc-driver.log

[ClickHouse DSN (Unicode)]
Driver      = ClickHouse ODBC Driver (Unicode)
Description = DSN (localhost) for ClickHouse ODBC Driver (Unicode)
# ...
