<CPackWiXPatch>
    <CPackWiXFragment Id="CM_CP_ANSIDriver.bin.clickhouseodbc.dll">
        <RegistryKey ForceCreateOnInstall="yes" Id="AnsiOdbcDriverRegInfo" Key="SOFTWARE\ODBC\ODBCINST.INI\ClickHouse ODBC Driver (ANSI)" Root="HKLM">
            <RegistryValue Name="Description" Type="string" Value="ODBC Driver (ANSI) for ClickHouse"/>
            <RegistryValue Name="Driver" Type="string" Value="[CM_DP_ANSIDriver.bin]clickhouseodbc.dll"/>
            <RegistryValue Name="Setup" Type="string" Value="[CM_DP_ANSIDriver.bin]clickhouseodbc.dll"/>
            <RegistryValue Name="DriverODBCVer" Type="string" Value="03.80"/>
            <RegistryValue Name="ConnectFunctions" Type="string" Value="YYN"/>
            <RegistryValue Name="APILevel" Type="string" Value="1"/>
            <RegistryValue Name="SQLLevel" Type="string" Value="1"/>
            <RegistryValue Name="FileUsage" Type="string" Value="0"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="AnsiOdbcDriverRegInstalled" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Root="HKLM">
            <RegistryValue Name="ClickHouse ODBC Driver (ANSI)" Type="string" Value="Installed"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="AnsiOdbcDsnRegInfo" Key="SOFTWARE\ODBC\ODBC.INI\ClickHouse DSN (ANSI)" Root="HKLM">
            <RegistryValue Name="Description" Type="string" Value="DSN (localhost) for ClickHouse ODBC Driver (ANSI)"/>
            <RegistryValue Name="Driver" Type="string" Value="ClickHouse ODBC Driver (ANSI)"/>
            <RegistryValue Name="Url" Type="string" Value="https://default:password@localhost:8443/query?database=default"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="AnsiOdbcDsnRegInstalled" Key="SOFTWARE\ODBC\ODBC.INI\ODBC Data Sources" Root="HKLM">
            <RegistryValue Name="ClickHouse DSN (ANSI)" Type="string" Value="ClickHouse ODBC Driver (ANSI)"/>
        </RegistryKey>
    </CPackWiXFragment>
    <CPackWiXFragment Id="CM_CP_UnicodeDriver.bin.clickhouseodbcw.dll">
        <RegistryKey ForceCreateOnInstall="yes" Id="UnicodeOdbcDriverRegInfo" Key="SOFTWARE\ODBC\ODBCINST.INI\ClickHouse ODBC Driver (Unicode)" Root="HKLM">
            <RegistryValue Name="Description" Type="string" Value="ODBC Driver (Unicode) for ClickHouse"/>
            <RegistryValue Name="Driver" Type="string" Value="[CM_DP_UnicodeDriver.bin]clickhouseodbcw.dll"/>
            <RegistryValue Name="Setup" Type="string" Value="[CM_DP_UnicodeDriver.bin]clickhouseodbcw.dll"/>
            <RegistryValue Name="DriverODBCVer" Type="string" Value="03.80"/>
            <RegistryValue Name="ConnectFunctions" Type="string" Value="YYN"/>
            <RegistryValue Name="APILevel" Type="string" Value="1"/>
            <RegistryValue Name="SQLLevel" Type="string" Value="1"/>
            <RegistryValue Name="FileUsage" Type="string" Value="0"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="UnicodeOdbcDriverRegInstalled" Key="SOFTWARE\ODBC\ODBCINST.INI\ODBC Drivers" Root="HKLM">
            <RegistryValue Name="ClickHouse ODBC Driver (Unicode)" Type="string" Value="Installed"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="UnicodeOdbcDsnRegInfo" Key="SOFTWARE\ODBC\ODBC.INI\ClickHouse DSN (Unicode)" Root="HKLM">
            <RegistryValue Name="Description" Type="string" Value="DSN (localhost) for ClickHouse ODBC Driver (Unicode)"/>
            <RegistryValue Name="Driver" Type="string" Value="ClickHouse ODBC Driver (Unicode)"/>
            <RegistryValue Name="Url" Type="string" Value="https://default:password@localhost:8443/query?database=default"/>
        </RegistryKey>
        <RegistryKey ForceCreateOnInstall="yes" Id="UnicodeOdbcDsnRegInstalled" Key="SOFTWARE\ODBC\ODBC.INI\ODBC Data Sources" Root="HKLM">
            <RegistryValue Name="ClickHouse DSN (Unicode)" Type="string" Value="ClickHouse ODBC Driver (Unicode)"/>
        </RegistryKey>
    </CPackWiXFragment>
</CPackWiXPatch>
